button {
  padding: 1.5rem 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid rgb(241, 238, 238);
}

.calculator-body {
  display: flex;
  flex-flow: column;
  list-style-type: none;
  padding: 20px;
}

.calculator-screen {
  text-align: end;
  padding: 30px;
  background-color: rgb(241, 238, 238);
  font-weight: bold;
  font-size: 1.5rem;
}

.calculator-keyboard {
  display: flex;
  width: 100%;
}

.calculator-digits {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr 1fr;
}

.calculator-operators {
  display: flex;
  flex-flow: column;
}

.calculator-operators button {
  flex: 1;
  margin: 1px;
  background-color: orange;
  border: 1px hidden;
}

.calculator-digits button:nth-last-child(2) {
  grid-column: span 2;
}
